{% extends 'record_template.html' %}
{% set title = 'Barangay Clearance' %}
{% set route_name = 'clearance' %}

{% set fields = [
    {'name':'name','placeholder':'Name','type':'text','col':'col-md-4','required':True},
    {'name':'gender','placeholder':'Gender','type':'select','col':'col-md-2',
        'options':['Male','Female','Other'], 'required':True},
    {'name':'phone_number','placeholder':'Phone Number','type':'text','col':'col-md-3'},

    {'name':'address','placeholder':'Address','type':'text','col':'col-md-6'},

    {'name':'birthday','placeholder':'Birthday','type':'date','col':'col-md-3'},
    {'name':'birthplace','placeholder':'Birthplace','type':'text','col':'col-md-3'},

    {'name':'civil_status','placeholder':'Civil Status','type':'select','col':'col-md-3',
        'options':['Single','Married','Widowed','Separated']},

    {'name':'date_issued','placeholder':'Date Issued','type':'date','col':'col-md-3','required':True},
    {'name':'purpose','placeholder':'Purpose','type':'text','col':'col-md-6'}
] %}

{% set q = request.args.get('q','') %}
{% set month = request.args.get('month','') %}
{% set year = request.args.get('year','') %}
