{% extends 'base.html' %}
{% block content %}
<h3>Secretary Dashboard</h3>
<div class="row g-3">
  <div class="col-md-4"><div class="card p-3"><h5>Barangay ID</h5><a class="btn btn-sm btn-outline-primary" href="{{ url_for('view_barangay_id') }}">Open</a></div></div>
  <div class="col-md-4"><div class="card p-3"><h5>Clearance</h5><a class="btn btn-sm btn-outline-primary" href="{{ url_for('view_clearance') }}">Open</a></div></div>
  <div class="col-md-4"><div class="card p-3"><h5>Indigency</h5><a class="btn btn-sm btn-outline-primary" href="{{ url_for('view_indigency') }}">Open</a></div></div>
  <div class="col-md-4"><div class="card p-3"><h5>Good Moral</h5><a class="btn btn-sm btn-outline-primary" href="{{ url_for('view_goodmoral') }}">Open</a></div></div>
  <div class="col-md-4"><div class="card p-3"><h5>First Job Seeker</h5><a class="btn btn-sm btn-outline-primary" href="{{ url_for('view_firstjob') }}">Open</a></div></div>
</div>
{% endblock %}
