{% extends 'record_template.html' %}

{% set title = 'Good Moral Character' %}
{% set route_name = 'goodmoral' %}

{% set yrs_options = range(1, 51)|list %}
{% set gender_options = ['Male', 'Female', 'Other'] %}
{% set civil_status_options = ['Single', 'Married', 'Widowed', 'Divorced', 'Separated'] %}

{% set fields = [
    {'name':'name','placeholder':'Name','type':'text','col':'col-md-6','required':True},
    {'name':'address','placeholder':'Address','type':'text','col':'col-md-6'},
    {'name':'date_of_birth','placeholder':'Date Of Birth','type':'date','col':'col-md-4'},
    {'name':'gender','placeholder':'Gender','type':'select','col':'col-md-2','required':True,'options': gender_options},
    {'name':'civil_status','placeholder':'Civil Status','type':'select','col':'col-md-2','options': civil_status_options},
    {'name':'length_of_residency','placeholder':'length_of_residency Of Residency','type':'select','col':'col-md-2','options': yrs_options},
    {'name':'date_issued','placeholder':'Date Issued','type':'date','col':'col-md-4'},
    {'name':'purpose','placeholder':'Purpose','type':'text','col':'col-md-8'}
] %}
