{% extends 'record_template.html' %}
{% set title = 'Barangay Indigency' %}
{% set route_name = 'indigency' %}
{% set fields = [{'name':'name','placeholder':'Name','type':'text','col':'col-md-6','required':True}, {'name':'address','placeholder':'Address','type':'text','col':'col-md-6'},{'name':'date_issued','placeholder':'Date Issued','type':'date','col':'col-md-4'},{'name':'purpose','placeholder':'Purpose','type':'text','col':'col-md-8'}] %}
{% set headers = ['#','Name','Address','Purpose','Date_Issued','Status'] %}
{% set month = request.args.get('month','') %}
{% set year = request.args.get('year','') %}
{% set q = request.args.get('q','') %}
